  
* {
    box-sizing: border-box;
  }
.img-block {
    width: 500px;
    height: 500px;
    background-image: url("https://raw.githubusercontent.com/alexe7en/fe84/master/lesson4/img/1.jpg");
    background-size: cover;
    background-position: right;
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
  }
  
  .inner-box {
      position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
  }